@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  font-family: Raleway, Arial;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
